<!DOCTYPE html>

<html dir="ltr" lang="pt-BR">

  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58966194-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
          
        gtag('config', 'UA-58966194-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>MVISIA - Máquinas de Visão e Inteligência Artificial</title>

    <meta itemprop="name" content="mvisia">
    <meta name="description" content="MVISIA - Máquinas de Visão e Inteligência Artificial">
    <meta itemprop="image" content="http://www.mvisia.com/.br/images/mvisia-logo.svg">
    <meta name="keywords" content="mvisia, máquinas de visão computacional, visão computacional agroindústria, máquinas agroindústria, inteligência artificla agroindústria">

    <meta property="og:locale" content="pt_BR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="mvisia" />
    <meta property="og:description" content="Máquinas de Visão e Inteligência Artificial" />
    <meta property="og:url" content="http://mvisia.com.br/" />
    <meta property="og:site_name" content="mvisia" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Máquinas de Visão e Inteligência Artificial" />
    <meta name="twitter:title" content="mvisia" />

    <link rel="canonical" href="http://mvisia.com.br/" />

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,300italic,400,400italic,500,500italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:500,400,300,200,100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Plugins -->
    <link href="plugins/rs-plugin-5/css/settings.css" rel="stylesheet">
    <link href="plugins/rs-plugin-5/css/navigation.css" rel="stylesheet">
    <!--<link href="css/animations.css" rel="stylesheet">-->
    <link href="plugins/owlcarousel2/assets/owl.carousel.min.css" rel="stylesheet">

    <!--<link href="css/style.css" rel="stylesheet" >-->

    <!--<link href="css/typography.css" rel="stylesheet" >-->

    <!-- Color Scheme -->
    <!--<link href="css/skins/green.css" rel="stylesheet">-->
  
    <!-- Custom css --> 
    <!--<link href="css/custom.css" rel="stylesheet">-->

    <!-- min css -->
    <link href="plugins/rs-plugin-5/css/settings.css" rel="stylesheet">
    <link href="css/animations.min.css" rel="stylesheet"> <!-- ok -->
    <link href="css/style.min.css" rel="stylesheet" > <!-- ok -->
    <link href="css/typography.min.css" rel="stylesheet" > <!-- ok -->
    <link href="css/skins/green.min.css" rel="stylesheet"> <!-- ok -->
    <link href="css/custom.min.css" rel="stylesheet"> <!-- ok -->

       
  </head>

  <body class="page-loader-1">

    <!-- scrollToTop -->
    <div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>

    <!-- page wrapper start -->
    <div class="page-wrapper">
      <!-- header-container start -->
      <div class="header-container">
        <div class="header-top dark">
          <div class="container">
            <div class="row">
              <div class="col-1 col-md-3">
                <!-- header-top-first start -->
                <div class="header-top-first clearfix">
                  <ul class="social-links circle small clearfix hidden-sm-down">
                    <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/company/mvisia/"><i class="fa fa-linkedin"></i></a></li>
                    <li class="youtube"><a target="_blank" href="https://www.youtube.com/user/MVisiaBrasil"><i class="fa fa-youtube-play"></i></a></li>
                    <li class="facebook"><a target="_blank" href="https://www.facebook.com/MVisia/"><i class="fa fa-facebook"></i></a></li>
                  </ul>
                  <div class="social-links hidden-md-up circle small">
                    <div class="btn-group dropdown">
                      <button id="header-top-drop-1" type="button" class="btn dropdown-toggle--no-caret" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-alt"></i></button>
                      <ul class="dropdown-menu dropdown-animation" aria-labelledby="header-top-drop-1">
                        <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/company/mvisia/"><i class="fa fa-linkedin"></i></a></li>
                        <li class="youtube"><a target="_blank" href="https://www.youtube.com/user/MVisiaBrasil"><i class="fa fa-youtube-play"></i></a></li>
                        <li class="facebook"><a target="_blank" href="https://www.facebook.com/MVisia/"><i class="fa fa-facebook"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- header-top-first end -->
              </div>
              <div class="col-11 col-md-9 hidden-sm-down">

                <!-- header-top-second start -->
                <!-- ================ -->
                <div id="header-top-second"  class="clearfix text-right">
                  <ul class="list-inline">
                    <li class="list-inline-item hidden-md-down">Realizamos projetos sob medida para o seu negócio.</li>
                    <li class="list-inline-item"><i class="fa fa-envelope-o pr-1 pl-10 text-default"></i>contato@mvisia.com.br</li>
                    <li class="list-inline-item"><i class="fa fa-phone pr-1 pl-10 text-default"></i>(+55) (11) 4302-5902</li>
                    <li class="list-inline-item"><i class="fa fa-whatsapp pr-1 pl-10 text-default"></i>(+55) (11) 98134-9727</li>
                  </ul>
                </div>
                <!-- header-top-second end -->

              </div>
            </div>
          </div>
        </div>
        <!-- header-top end -->

        <!-- header start -->
        <!-- ================ -->
        <header class="header fixed fixed-desktop clearfix">
          <div class="container">
            <div class="row">
              <div class="col-md-auto hidden-md-down pl-3">
                <!-- header-first start -->
                <!-- ================ -->
                <div class="header-first clearfix">
                  <!-- logo -->
                  <div id="logo" class="logo">
                    <a href="index.html" target="_self"><img id="logo_img" src="images/logo-mvisia.svg" alt="Logo MVisia"></a>
                  </div>
                </div>
                <!-- header-first end -->
              </div>
              <div class="col-lg-8 ml-lg-auto">
                <!-- header-second start -->
                <div class="header-second clearfix">
                <!-- main-navigation start -->
                <div class="main-navigation main-navigation--mega-menu  animated">
                  <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <div class="navbar-brand clearfix hidden-lg-up">
                      <!-- logo -->
                      <div id="logo-mobile" class="logo">
                        <a href="index.html"><img id="logo-img-mobile" src="images/logo-mvisia.svg" alt="Logo Mvisia"></a>
                      </div>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                      <!-- main-menu -->
                      <ul class="navbar-nav ml-xl-auto">
                        <!-- about -->
                        <li class="nav-item">
                          <a class="section-btn nav-link" href="page-about.html" target="_self" aria-expanded="false">Sobre</a>
                        </li>
                        <!-- technologies -->
                        <li class="nav-item dropdown">
                          <a class="section-btn nav-link dropdown-toggle" data-toggle="dropdown" href="#">Tecnologias</a>
                          <ul class="dropdown-menu">
                            <li><a href="page-tech-visao-computacional.html">Visão Computacional</a></li>
                            <li><a href="page-tech-inteligencia-artificial.html">Inteligência Artificial</a></li>
                            <li><a href="page-tech-cameras-hiperespectrais.html">Câmeras Hiperespectrais</a></li>
                          </ul>
                        </li>
                        <!-- cases -->
                        <li class="nav-item dropdown">
                          <a class="section-btn nav-link dropdown-toggle" data-toggle="dropdown" href="#">Cases</a>
                          <ul class="dropdown-menu">
                            <li><a href="page-case-calibradora.html">Calibradora Eletrônica de Tomates</a></li>
                            <li><a href="page-case-seletora-mudas-eucalipto.html">Seletora Automática de Mudas de Eucalipto</a></li>
                            <li><a href="page-case-seletora-mudas-flores.html">Seletora Automática de Mudas de Flores</a></li>
                            <li><a href="page-case-sistema-qualificacao-uvas.html">Sistema Automático de Qualificação de Uvas</a></li>
                          </ul>
                        </li>
                        <!-- media -->
                        <li class="nav-item">
                          <a class="section-btn nav-link" href="page-media.html" target="_self" aria-haspopup="true" aria-expanded="false">Na mídia</a>
                        </li>
                        <!-- blog -->
                        <li class="nav-item">
                            <a href="http://blog.mvisia.com.br" target="_blank" class="nav-link" aria-haspopup="true" aria-expanded="false">Blog</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
                </div>
                <!-- main-navigation end -->
                </div>
                <!-- header-second end -->
              </div>
            </div>
          </div>
        </header>
        <!-- header end -->
      </div>
      <!-- header-container end -->
      <!-- end copy header -->

<!-- start page -->
      
      <!-- banner start -->
      <div class="banner clearfix">
        <!-- slideshow start -->
        <div class="slideshow">
          <!-- slider revolution start -->
          <div class="slider-revolution-5-container">
            <div id="slider-banner-fullwidth" class="slider-banner-fullwidth rev_slider" data-version="5.0">
              <ul class="slides">
                <!-- slide 1 start -->
                <li class="text-center" data-transition="fade" data-slotamount="default" data-masterspeed="default">
                <!-- main image -->
                <img src="images/bg-slider-1.jpg" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">          
                <!-- Transparent Background -->
                <div class="tp-caption dark-translucent-bg"
                  data-x="center"
                  data-y="center"
                  data-start="0"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                  data-transform_out="o:0;s:600;"
                  data-width="5000"
                  data-height="5000">
                </div>
                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_white hidden-sm-down"
                  data-x="center"
                  data-y="200"
                  data-start="500"
                  data-width="1000"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Máquinas e Sistemas para o seu Negócio
                </div>
                <div class="tp-caption large_white mobile-caption hidden-sm-up"
                  data-x="center"
                  data-y="200"
                  data-start="500"
                  data-width="1000"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Máquinas e Sistemas<br> para o seu Negócio
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption large_white tp-resizeme hidden-sm-down benefits"
                  data-x="center"
                  data-y="260"
                  data-start="650"
                  data-width="500"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                  <div class="separator light"></div>
                </div>
                <!-- LAYER NR. 3 -->
                <div class="tp-caption medium_white hidden-sm-down"
                  data-x="center"
                  data-y="300"
                  data-start="650"
                  data-width="800"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Trabalhamos com projetos sob demanda de máquinas de classificação<br> de diversos produtos e de sistemas de controle de qualidade
                </div>
                </li>
                <!-- slide 1 end -->
                
                <!-- slide 2 start -->
                <li class="text-center" data-transition="fade" data-slotamount="default" data-masterspeed="default">
                <!-- main image -->
                <img src="images/bg-slider-2.jpg" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">
                <!-- Transparent Background -->
                <div class="tp-caption dark-translucent-bg"
                  data-x="center"
                  data-y="center"
                  data-start="0"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                  data-transform_out="o:0;s:600;"
                  data-width="5000"
                  data-height="5000">
                </div>
                  
                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_white hidden-sm-down"
                  data-x="center"
                  data-y="200"
                  data-start="500"
                  data-width="1000"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Soluções Inteligentes para a Agroindústria
                </div>

                <div class="tp-caption large_white mobile-caption hidden-sm-up"
                  data-x="center"
                  data-y="200"
                  data-start="500"
                  data-width="1000"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Soluções Inteligentes<br> para a Agroindústria
                </div>
                  
                <!-- LAYER NR. 2 -->
                <div class="tp-caption large_white tp-resizeme hidden-sm-down benefits"
                  data-x="center"
                  data-y="260"
                  data-start="650"
                  data-width="500"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                <div class="separator light"></div>
                </div>
                  
                <!-- LAYER NR. 3 -->
                <div class="tp-caption medium_white hidden-sm-down"
                  data-x="center"
                  data-y="300"
                  data-start="650"
                  data-width="800"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Usamos visão computacional e inteligência artificial para automatizar<br> a seleção e a padronização de produtos agrícolas
                </div>
                </li>
                <!-- slide 2 end -->

                <!-- slide 3 start -->
                <li class="text-center" data-transition="fade" data-slotamount="default" data-masterspeed="default">

                <!-- main image -->
                <img src="images/bg-slider-3.jpg" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

                <!-- Transparent Background -->
                <div class="tp-caption dark-translucent-bg"
                  data-x="center"
                  data-y="center"
                  data-start="0"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                  data-transform_out="o:0;s:600;"
                  data-width="5000"
                  data-height="5000">
                </div>

                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_white hidden-sm-down"
                  data-x="center"
                  data-y="200"
                  data-start="500"
                  data-width="1000"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Análises Precisas e em Tempo Real
                </div>

                <div class="tp-caption large_white mobile-caption hidden-sm-up"
                  data-x="center"
                  data-y="200"
                  data-start="500"
                  data-width="1000"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Análises Precisas<br> e em Tempo Real
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption large_white tp-resizeme hidden-sm-down benefits"
                  data-x="center"
                  data-y="260"
                  data-start="650"
                  data-width="500"
                  data-transform_idle="o:1;"
                  data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
                    <div class="separator light"></div>
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption medium_white hidden-sm-down"
                  data-x="center"
                  data-y="300"
                  data-start="650"
                  data-width="800"
                  data-transform_idle="o:1;"
                  data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
                  data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                  data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                  data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Incorporamos inteligência à agroindústria para gerar<br> ganhos de eficiência, precisão e produtividade
                </div>
                </li>
                <!-- slide 3 end -->
              </ul>
              <div class="tp-bannertimer"></div>
            </div>
          </div>
          <!-- slider revolution end -->
        </div>
        <!-- slideshow end -->
      </div>
      <!-- banner end -->

      <div id="page-start"></div>

      <section class="main-container mt-20">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 text-justify mb-30">
              <h3 class="page-title title-about mb-30">Sobre a MVISIA</h3>
              <p>A MVISIA desenvolve <strong>máquinas e sistemas baseados em visão computacional e inteligência artificial</strong> para determinar o índice de qualidade de produtos agrícolas.</p>
              <p>Trazemos <strong>eficiência, redução de custos e aumento de qualidade</strong> para sistemas de produção da <strong>agroindústria</strong>, utilizando <strong>visão computacional e inteligência artificial.</strong></p>
              <a class="btn btn-transparent btn-hvr btn-animated btn-bordered-green" href="page-about.html">Saiba mais<i class="fa fa-angle-double-right"></i></a>
            </div>
            <div class="col-lg-6">
              <div class="rounded text-center special-container">
                <a target="_blank" href="https://www.youtube.com/user/MVisiaBrasil"><img class="rounded" src="images/about-bg-image.jpg" alt="mvisia-youtube-channel"></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section technology start -->     
      <section class="dark-translucent-bg tech pv-55 clearfix" style="background-image:url(images/tech-bg-image.jpg)">
        <div class="container">
          <div class="row row-eq-height">
            <div class="main col-md-12">
              <h2 class="page-title text-center">Tecnologias</h2>
              <div class="separator"></div>
              <h3 class="page-subtitle text-white text-center mb-60">Desenvolvemos softwares inteligentes para o reconhecimento de características<br> visuais por meio de algoritmos próprios e exclusivos.</h3>

              <div class="row">
                <div class="col-md-4 ">
                  <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible mb-20" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <span class="icon default-bg circle"><img class="icon-circle" src="images/technology-1-1.svg"></span>
                    <h4 class="card-title mt-10">Visão Computacional</h4>
                    <div class="separator clearfix"></div>
                    <p>Utilizamos processamento de imagens<br> para automatizar inspeções visuais e<br> aumentar a sua acurácia.</p>
                    <a class="btn btn-transparent btn-animated btn-bordered-green" href="page-tech-visao-computacional.html">Saiba mais<i class="fa fa-angle-double-right"></i></a>
                  </div>
                </div>
                <div class="col-md-4 ">
                  <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible mb-20" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                    <span class="icon default-bg circle"><img class="icon-circle" src="images/technology-2-1.svg"></span>
                    <h4 class="card-title mt-10">Inteligência Artificial</h4>
                    <div class="separator clearfix"></div>
                    <p>O aprendizado de máquina e o uso<br> de redes neurais nos auxiliam no<br> reconhecimento de padrões.</p>
                    <a class="btn btn-transparent btn-animated btn-bordered-green" href="page-tech-inteligencia-artificial.html">Saiba mais<i class="fa fa-angle-double-right"></i></a>
                  </div>
                </div>
                <div class="col-md-4 ">
                  <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible mb-20" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                    <span class="icon default-bg circle"><img class="icon-circle" src="images/technology-3-1.svg"></span>
                    <h4 class="card-title mt-10">Câmeras Hiperespectrais</h4>    
                    <div class="separator clearfix"></div>
                    <p>Utilizamos câmeras hiperespectrais para<br> analisar características que não podem<br> ser vistas com câmeras tradicionais.</p>
                    <a class="btn btn-transparent btn-animated btn-bordered-green" href="page-tech-cameras-hiperespectrais.html">Saiba mais<i class="fa fa-angle-double-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section technology end -->

      <!-- section cases start -->
      <div class="section mt-30">
        <div class="container mt-30">
          <div class="row"> 
            <div class="main col-md-12">
            <h2 class="page-title text-center">Cases de Sucesso</h2>
            <div class="separator"></div>
              <div class="row pv-55">
                <!-- tomate -->
                <div class="col-sm-3">
                  <a href="page-case-calibradora.html">
                    <div class="image-box style-2 mb-20 bordered text-center dark-bg" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                      <div class="overlay-container border-clear">
                        <img class="img-container" src="images/case-1.jpg" alt="calibradora">
                      </div>
                      <div class="body mt-10">
                        <h4 class="card-title text-white">Tomate</h4>
                        <div class="separator"></div>
                        <p class="subtitle text-white ph-20">Calibradora Eletrônica<br> de Tomates Miúdos</p>
                        <a class="btn btn-transparent btn-animated btn-bordered-white" href="page-case-calibradora.html">Saiba mais<i class="fa fa-angle-double-right"></i></a>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- uva -->
                <div class="col-sm-3">
                  <a href="page-case-sistema-qualificacao-uvas.html">
                    <div class="image-box style-2 mb-20 bordered text-center dark-bg" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                      <div class="overlay-container border-clear">
                        <img class="img-container" src="images/case-2.jpg" alt="qualificacao-uvas">
                      </div>
                      <div class="body mt-10">
                        <h4 class="card-title text-white">Uva</h4>
                        <div class="separator"></div>
                        <p class="subtitle text-white ph-20">Sistema Automático de<br> Qualificação de Uvas</p>
                        <a class="btn btn-transparent btn-animated btn-bordered-white" href="page-case-sistema-qualificacao-uvas.html">Saiba mais<i class="fa fa-angle-double-right"></i></a>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- eucalipto -->
                <div class="col-sm-3">
                  <a href="page-case-seletora-mudas-eucalipto.html">
                    <div class="image-box style-2 mb-20 bordered text-center dark-bg" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                      <div class="overlay-container border-clear">
                          <img class="img-container" src="images/case-3.jpg" alt="seletora-eucalipto">
                      </div>
                      <div class="body mt-10">
                        <h4 class="card-title text-white">Eucalipto</h4>
                        <div class="separator"></div>
                        <p class="subtitle text-white ph-20">Seletora Automática de Mudas de Eucalipto</p>
                        <a class="btn btn-transparent btn-animated btn-bordered-white" href="page-case-seletora-mudas-eucalipto.html">Saiba mais<i class="fa fa-angle-double-right"></i></a>
                      </div>
                    </div>
                  </a>
                </div>
                <!--flores -->
                <div class="col-sm-3">
                  <a href="page-case-seletora-mudas-flores.html">
                    <div class="image-box style-2 mb-20 bordered text-center dark-bg" data-animation-effect="fadeInDownSmall" data-effect-delay="400">
                      <div class="overlay-container border-clear">
                          <img class="img-container" src="images/case-4.jpg" alt="seletora-flores">
                      </div>
                      <div class="body mt-10">
                        <h4 class="card-title text-white">Flores</h4>
                        <div class="separator"></div>
                        <p class="subtitle text-white ph-20">Seletora Automática de Mudas de Flores</p>
                        <a class="btn btn-transparent btn-animated btn-bordered-white" href="page-case-seletora-mudas-flores.html">Saiba mais<i class="fa fa-angle-double-right"></i></a>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
      <!-- section cases end -->

      <!-- section banner call-to-action start -->
      <section class="section dark-bg clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="call-to-action">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <ul class="list-inline banner">
                      <li class="list-inline-item mt-10 mb-10">Realizamos projetos sob medida para o seu negócio. Entre em contato:</li>
                      <li class="list-inline-item mt-10 mb-10"><i class="text-default fa fa-phone pl-10 pr-1 bigger"></i>(+55) (11) 4302-5902</li>
                      <li class="list-inline-item mt-10 mb-10"><i class="text-default fa fa-envelope-o pl-10 pr-1 bigger"></i>contato@mvisia.com.br</li>
                      <li class="list-inline-item mt-10 mb-10"><i class="text-default fa fa-whatsapp pl-10 pr-1 bigger"></i>(+55) (11) 98134-9727</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section banner call-to-action end -->

      <!-- section benefits start -->
      <section class="dark-translucent-bg pv-30" style="background-image:url(images/benefits-bg-image.jpg);">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-md-8">
              <h2 class="page-title text-center mt-4">Vantagens</h2>
              <div class="separator"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="feature-box-2 object-non-visible mb-20 ml-150 mt-60" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon default-bg circle"><img class="icon-circle" src="images/icon-benefit-1.svg"></span>
                <div class="body">
                  <h3 class="card-title ml-80">Redução de custos</h3>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature-box-2 object-non-visible mb-20 mt-60" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon default-bg circle"><img class="icon-circle" src="images/icon-benefit-2.svg"></span>
                <div class="body">
                  <h3 class="card-title ml-80">Aumento de produtividade</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="feature-box-2 object-non-visible mb-20 ml-150 mt-60" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon default-bg circle"><img class="icon-circle" src="images/icon-benefit-3.svg"></span>
                <div class="body">
                  <h3 class="card-title ml-80">Controle de qualidade</h3>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature-box-2 object-non-visible mb-20 mt-60" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon default-bg circle"><img class="icon-circle" src="images/icon-benefit-4.svg"></span>
                <div class="body">
                  <h3 class="card-title ml-80">Relatórios detalhados</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="feature-box-2 object-non-visible mb-20 ml-150 mt-60" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon default-bg circle"><img class="icon-circle" src="images/icon-benefit-5.svg"></span>
                <div class="body">
                  <h3 class="card-title ml-80">Operação intuitiva</h3>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature-box-2 object-non-visible mb-20 mt-60" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon default-bg circle"><img class="icon-circle" src="images/icon-benefit-6.svg"></span>
                <div class="body">
                  <h3 class="card-title ml-80 mb-60">Assistência técnica</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section benefits end -->

      <!-- section clients start -->
      <div class="section mt-30">
        <div class="container pv-30">
          <h2 class="page-title text-center">Clientes</h2>
          <div class="separator"></div>
          <div class="clients-container mb-30">
              <div class="clients">
                <div class="gallery-slider">
                  <div class="item client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                    <a target="_blank" href="http://www.suzano.com.br/"><img src="images/client-1.svg" alt="suzano-logo"></a>
                  </div>
                  <div class="item client-image-small object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">
                    <a target="_blank" href="http://www.cooperativasaojoao.com.br/index2.html"><img src="images/client-2.svg" alt="cooperativa-sao-joao-logo"></a>
                  </div>
                  <div class="item client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                    <a target="_blank" href="http://www.kiarafoods.com.br/"><img src="images/client-3.svg" alt="kiara-foods-logo"></a>
                  </div>
                  <div class="item client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="400">
                    <a target="_blank" href="http://www.echeveria.com.br/"><img src="images/client-4.svg" alt="echeverria-logo"></a>
                  </div>
                  <div class="item client-image-small object-non-visible" data-animation-effect="fadeIn" data-effect-delay="500">
                    <a target="_blank" href="http://devtecnologia.com.br/"><img src="images/client-5.svg" alt="dev-tecnologia-logo"></a>
                  </div>
              </div>
            </div>
          </div>
          <!-- section clients end -->

          <!-- section partners start -->
          <h2 class="page-title text-center">Parceiros</h2>
          <div class="separator"></div>
          <div class="clients-container mb-30">
              <div class="clients">
                <div class="gallery-slider">
                  <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                    <a target="_blank" href="https://www.embrapa.br/"><img src="images/partner-1.svg" alt="embrapa-logo"></a>
                  </div>
                  <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">
                    <a target="_blank" href="http://www.fapesp.br/"><img src="images/partner-2.svg" alt="fapesp-logo"></a>
                  </div>
                  <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="400">
                    <a target="_blank" href="http://abria.com.br/"><img src="images/partner-3.svg" alt="abria-logo"></a>
                  </div>
                  <div class="client-image-small object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                    <a target="_blank" href="http://www5.usp.br/"><img src="images/partner-4.svg" alt="usp-logo"></a>
                  </div>
                  <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="500">
                    <a target="_blank" href="http://www.cietec.org.br/"><img src="images/partner-5.svg" alt="cietec-logo"></a>
                  </div>
              </div>
            </div>
          </div>
          <!-- section partners end -->

        </div>
      </div>

      <!-- section media start -->     
      <div class="section dark-translucent-bg pv-55 clearfix" style="background-image:url(images/tech-bg-image.jpg)">
        <div class="container">
            <div class="main">
              <h2 class="page-title text-white text-center">Na Mídia</h2>
              <div class="separator"></div>
                <div class="row">
                  <div class="owl-carousel content-slider-with-controls">
                    <!-- News #3 -->
                    <div class="overlay-visible">
                      <div class="row container">
                        <div class="col-md-4">
                          <div class="pv-30 phl-40 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                            <a target="_blank" href="http://www.fapesp.br/11441">
                              <img class="media-logo" src="images/media-3.jpg">
                            </a>
                          </div>
                        </div>
                        <div class="col-md-8 pv-30">
                          <h3 class="text-left text-white news-title">Propostas são selecionadas em chamada para o setor agropecuário</h3>
                          <p class="text-justify news-body">A FAPESP anuncia o resultado da chamada de propostas lançada para o apoio ao desenvolvimento de aplicativos com a finalidade de inovar procedimentos e aumentar a produtividade e a eficiência no setor agropecuário. A seleção dá continuidade à colaboração entre a FAPESP e a Financiadora de Estudos e Projetos (Finep) e apoiará, por meio da concessão de recursos do PAPPE do MCTI/Finep/FNDCT e de recursos orçamentários da FAPESP, projetos de pesquisas de empresas paulistas. Os desafios e temas do edital foram propostos pela Secretaria de Agricultura e Abastecimento... <a class="text-white" target="_blank" href="http://www.fapesp.br/11441">Ler matéria completa</a></p>
                        </div>
                      </div>
                    </div>
                    <!-- News #4 -->
                    <div class="overlay-visible">
                      <div class="row container">
                        <div class="col-md-4">
                          <div class="pv-30 phl-40 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                            <a target="_blank" href="http://pesquisaparainovacao.fapesp.br/mvisia_adapta_produto_para_conquistar_diferentes_mercados/49">
                              <img class="media-logo" src="images/media-3.jpg">
                            </a>
                          </div>
                        </div>
                        <div class="col-md-8 pv-30">
                          <h3 class="text-left text-white news-title">MVISIA adapta produto para conquistar diferentes mercados</h3>
                          <p class="text-justify news-body">Nem sempre a inovação idealizada pelo empreendedor é a que o mercado precisa. Ouvir o mercado para detectar suas necessidades ajuda a definir o foco do empreendimento e norteia a busca por soluções inovadoras. Foi assim com a MVISIA, que concluiu o período de incubação no Centro de Inovação, Empreendedorismo e Tecnologia (Cietec), em São Paulo, em meados de 2016. Quando foi criada, em 2012, a ideia inicial de seus sócios-fundadores era oferecer automação sem fio para controle de ambiente em estufas agrícolas. Depois de algumas visitas em campo... <a class="text-white" target="_blank" href="http://pesquisaparainovacao.fapesp.br/mvisia_adapta_produto_para_conquistar_diferentes_mercados/49">Ler matéria completa</a></p>
                        </div>
                      </div>
                    </div>
                    <!-- News #1 -->
                    <div class="overlay-visible">
                      <div class="row container">
                        <div class="col-md-4">
                          <div class="pv-30 phl-40 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                            <a target="_blank" href="https://viewer.aemmobile.adobe.com/index.html#project/69eb211c-a1d3-4b60-a011-6bc2e481431f/view/edicao_380_junho_2017/article/globorural_-dj-de43b365-d42c-49f1-87e2-90d56ec4419d">
                              <img class="media-logo" src="images/media-1.jpg">
                            </a>
                          </div>
                        </div>
                        <div class="col-md-8 pv-30">
                          <h3 class="text-left text-white news-title">Limpeza eficiente, sem água</h3>
                          <p class="news-body text-justify">Uma máquina compacta, que não usa água, pode ajudar produtores de frutas e hortaliças a ter mais lucros na lavoura. O equipamento, que é móvel, foi criado por cientistas da Embrapa Instrumentação, de São Carlos (SP), e licenciado para a empresa MVISIA. De acordo com Marcos David Ferreira, pesquisador que coordenou a criação do equipamento, ela irá ajudar os pequenos produtores. “As classificadoras compactas agregam valor ao produto, com classificação mais uniforme, redução de tempo para chegar ao consumidor e menor incidência de danos físicos, melhorias que podem... <a class="text-white" target="_blank" href="https://viewer.aemmobile.adobe.com/index.html#project/69eb211c-a1d3-4b60-a011-6bc2e481431f/view/edicao_380_junho_2017/article/globorural_-dj-de43b365-d42c-49f1-87e2-90d56ec4419d">Ler matéria completa</a></p>
                        </div>
                      </div>
                    </div>
                    <!-- News #2 -->
                    <div class="overlay-visible">
                      <div class="row container">
                        <div class="col-md-4">
                          <div class="pv-30 phl-40 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                            <a target="_blank" href="https://epoca.globo.com/vida/experiencias-digitais/noticia/2016/01/campus-party-nova-juventude-e-o-fim-da-maior-festa-nerd-do-brasil.html">
                              <img class="media-logo" src="images/media-2.jpg">
                            </a>
                          </div>
                        </div>
                        <div class="col-md-8 pv-30">
                          <h3 class="text-left text-white news-title">Campus Party: a nova juventude e o "fim" da maior festa nerd do Brasil</h3>
                          <p class="text-justify news-body">Há gente também que foi à Campus Party para fazer negócio. Com um corte de cabelo batido, óculos discretos e fala séria, o engenheiro recém-formado Fernando Lopes seria o típico nerd da minha geração. Na dele, Fernando faz parte da turma dos empreendedores, tão populares quanto vocalistas de bandas de colégio. Junto a dois amigos, Lopes transformou o seu trabalho de conclusão de curso num negócio. Desenvolveu uma máquina que usa softwares e sensores para selecionar mudas de eucaliptos no padrão ideal para o plantio. Esse processo hoje é feito manualmente... <a class="text-white" target="_blank" href="https://epoca.globo.com/vida/experiencias-digitais/noticia/2016/01/campus-party-nova-juventude-e-o-fim-da-maior-festa-nerd-do-brasil.html">Ler matéria completa</a></p>
                        </div>
                      </div>
                    </div>
                    <!-- News #5 -->
                    <div class="overlay-visible">
                      <div class="row container">
                        <div class="col-md-4">
                          <div class="pv-30 phl-40 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                            <a target="_blank" href="https://www.santanderuniversidades.com.br/embaixadores/paginas/fernando-antonio-torres-velloso-da-silva-neto.aspx">
                              <img class="media-logo" src="images/media-4.jpg">
                            </a>
                          </div>
                        </div>
                        <div class="col-md-8 pv-30">
                          <h3 class="text-left text-white news-title">Fernando Antonio Torres Velloso da Silva Neto - USP</h3>
                          <p class="text-justify news-body">O Brasil é o maior produtor de eucalipto do mundo. Mesmo assim, esbarra em uma dificuldade: a seleção das mudas de eucalipto para plantio. Para melhorar a eficiência dessa etapa da produção, o aluno de Engenharia Mecatrônica da Universidade de São Paulo (USP), Fernando Antonio Torres Velloso da Silva Neto, junto aos colegas Fernando Lopes e Henrique Oliveira, criou uma máquina que automatiza o processo de determinação do índice de qualidade das mudas, a Seletora de mudas de eucalipto, projeto vencedor do Prêmio Santander Empreendedorismo 2015... <a class="text-white" target="_blank" href="https://www.santanderuniversidades.com.br/embaixadores/paginas/fernando-antonio-torres-velloso-da-silva-neto.aspx">Ler matéria completa</a></p>
                        </div>
                      </div>
                    </div>
                    <!-- end news -->
                  </div>
                </div>
                <div class="row mt-60 mb-20">
                  <a class="btn btn-transparent btn-animated btn-bordered-white m-auto mt-20" href="page-media.html">Ver todas<i class="fa fa-angle-double-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- section media end -->

      <!-- section brazilian start -->
      <section class="section dark-bg clearfix text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="call-to-action">
                  <div class="row mb-10">
                    <div class="col-md-4">
                      <div class="feature-box-2 object-non-visible mb-20 mt-30" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon default-bg icon-small circle"><img class="icon-circle" src="images/icon-benefit-7.svg"></span>
                        <div class="body">
                          <h3 class="card-title ml-25">A MVISIA é 100% brasileira</h3>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="feature-box-2 object-non-visible mb-20 mt-30" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon default-bg icon-small circle"><img class="icon-circle" src="images/icon-benefit-1.svg"></span>
                        <div class="body">
                          <h3 class="card-title ml-25">Sem custos de importação</h3>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="feature-box-2 object-non-visible mb-20 mt-30" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon default-bg icon-small circle"><img class="icon-circle" src="images/icon-benefit-6.svg"></span>
                        <div class="body">
                          <h3 class="card-title ml-25">Assistência técnica capacitada</h3>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section brazilian end -->

      <!-- section contact start -->
      <div class="container pv-30 mt-30 mb-60">
        <div class="row">
          <div class="main col-md-12">  
            <h2 class="page-title text-center">Contato</strong></h2>
            <div class="separator"></div>
            <div class="row">
              <div class="col-md-12 text-center">
                <ul class="list-inline mb-30">
                  <li class="list-inline-item"><i class="text-default fa fa-map-marker pr-1 bigger mt-10 mb-10"></i>Av. Queiroz Filho, 1700 - Torre E, Sala 512</li>
                  <li class="list-inline-item"><i class="text-default fa fa-phone pl-10 pr-1 bigger mt-10 mb-10"></i>(+55) (11) 4302-5902</li>
                  <li class="list-inline-item"><i class="text-default fa fa-envelope-o pl-10 pr-1 bigger mt-10 mb-10"></i>contato@mvisia.com.br</li>
                  <li class="list-inline-item"><i class="text-default fa fa-whatsapp pl-10 pr-1 bigger mt-10 mb-10"></i>(+55) (11) 98134-9727</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                  <div id="map-canvas"></div>
              </div>
            </div>
          </div>
        </div>
      </div>  
      </section>
      <!-- section contact end -->

      <!-- footer start -->
      <footer id="footer" class="clearfix dark">
        <div class="footer">
          <div class="container">
            <div class="footer-inner">
              <div class="row justify-content-lg-center">
                <div class="col-lg-9">
                  <div class="footer-content text-center padding-ver-clear">
                    <div class="logo-footer"><img id="logo-footer" class="mx-auto" src="images/mvisia-white-logo.svg" alt=""></div>
                    <p>Máquinas de Visão e Inteligência Artificial</p>
                    <ul class="list-inline mb-20">
                      <li class="list-inline-item"><i class="text-default fa fa-map-marker pr-1"></i>Av. Queiroz Filho, 1700 - Torre E, Sala 512</li>
                      <li class="list-inline-item"><i class="text-default fa fa-phone pl-10 pr-1"></i>(+55) (11) 4302-5902</li>
                      <li class="list-inline-item"><i class="text-default fa fa-envelope-o pl-10 pr-1"></i>contato@mvisia.com.br</li>
                      <li class="list-inline-item"><i class="text-default fa fa-whatsapp pl-10 pr-1"></i>(+55) (11) 98134-9727</li>
                    </ul>
                    <ul class="social-links circle animated-effect-1 margin-clear">
                      <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/company/mvisia/"><i class="fa fa-linkedin"></i></a></li>
                      <li class="youtube"><a target="_blank" href="https://www.youtube.com/user/MVisiaBrasil"><i class="fa fa-youtube-play"></i></a></li>
                      <li class="facebook"><a target="_blank" href="https://www.facebook.com/MVisia/"><i class="fa fa-facebook"></i></a></li> 
                    </ul>
                    <div class="separator"></div>
                    <p class="text-center margin-clear">©2018 MVISIA. Todos os direitos reservados.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer end -->
    </div>
    <!-- page-wrapper end -->

    <!-- jquery and bootstap core js files -->
    <script type="text/javascript" src="plugins/jquery.min.js"></script>
    <script type="text/javascript" src="plugins/popper.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <!-- Modernizr javascript -->
    <script type="text/javascript" src="plugins/modernizr.js"></script>
    <!-- jQuery Revolution Slider  -->
    <script type="text/javascript" src="plugins/rs-plugin-5/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
    <script type="text/javascript" src="plugins/rs-plugin-5/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
    <!-- Appear javascript -->
    <script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="plugins/waypoints/sticky.min.js"></script>
    <!-- Owl carousel javascript -->
    <script type="text/javascript" src="plugins/owlcarousel2/owl.carousel.min.js"></script>
    <!-- Pace javascript -->
    <script type="text/javascript" src="plugins/pace/pace.min.js"></script>
    <!-- Automatic Gallery -->
    <script type="text/javascript" src="plugins/slick.min.js"></script>
    <!-- Initialization of Plugins -->
    <!--<script type="text/javascript" src="js/template.js"></script>-->
    <script type="text/javascript" src="js/template.min.js"></script>
    <!-- Google Maps javascript -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=AIzaSyCU_UNfVTz6FYtyl7FYIV1h1LRUZStUzfk"></script>
    <script type="text/javascript" src="js/google.map.config.js"></script>

  </body>
</html>