<!DOCTYPE html>

<html dir="ltr" lang="pt-BR">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58966194-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
          
        gtag('config', 'UA-58966194-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>MVISIA - Máquinas de Visão e Inteligência Artificial</title>
    <meta itemprop="name" content="mvisia">
    <meta name="description" content="MVISIA - Máquinas de Visão e Inteligência Artificial">
    <meta itemprop="image" content="http://www.mvisia.com/.br/images/mvisia-logo.svg">
    <meta name="keywords" content="mvisia, máquinas de visão computacional, visão computacional agroindústria, máquinas agroindústria, inteligência artificla agroindústria">
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="mvisia" />
    <meta property="og:description" content="Máquinas de Visão e Inteligência Artificial" />
    <meta property="og:url" content="http://mvisia.com.br/" />
    <meta property="og:site_name" content="mvisia" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Máquinas de Visão e Inteligência Artificial" />
    <meta name="twitter:title" content="mvisia" />
    <link rel="canonical" href="http://mvisia.com.br/" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,300italic,400,400italic,500,500italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:500,400,300,200,100' rel='stylesheet' type='text/css'>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="plugins/owlcarousel2/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="plugins/rs-plugin-5/css/settings.min.css" rel="stylesheet">
    <link href="plugins/rs-plugin-5/css/navigation.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet" >
  </head>

  <body class="page-loader-1">

    <div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>

    <div class="page-wrapper">
      <div class="header-container">
        <div class="header-top dark">
          <div class="container">
            <div class="row">
              <div class="col-1 col-md-3">
                <div class="header-top-first clearfix">
                  <ul class="social-links circle small clearfix hidden-sm-down">
                    <li class="linkedin"><a target="_blank" rel="noopener" href="https://www.linkedin.com/company/mvisia/"><i class="fa fa-linkedin"></i></a></li>
                    <li class="youtube"><a target="_blank" rel="noopener" href="https://www.youtube.com/user/MVisiaBrasil"><i class="fa fa-youtube-play"></i></a></li>
                    <li class="facebook"><a target="_blank" rel="noopener" href="https://www.facebook.com/MVisia/"><i class="fa fa-facebook"></i></a></li>
                  </ul>
                  <div class="social-links hidden-md-up circle small">
                    <div class="btn-group dropdown">
                      <button id="header-top-drop-1" type="button" class="btn dropdown-toggle--no-caret" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-alt"></i></button>
                      <ul class="dropdown-menu dropdown-animation" aria-labelledby="header-top-drop-1">
                        <li class="linkedin"><a target="_blank" rel="noopener" href="https://www.linkedin.com/company/mvisia/"><i class="fa fa-linkedin"></i></a></li>
                        <li class="youtube"><a target="_blank" rel="noopener" href="https://www.youtube.com/user/MVisiaBrasil"><i class="fa fa-youtube-play"></i></a></li>
                        <li class="facebook"><a target="_blank" rel="noopener" href="https://www.facebook.com/MVisia/"><i class="fa fa-facebook"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-11 col-md-9 hidden-sm-down">

                <div id="header-top-second"  class="clearfix text-right">
                  <ul class="list-inline">
                    <li class="list-inline-item hidden-md-down">Realizamos projetos sob medida para o seu negócio.</li>
                    <li class="list-inline-item"><i class="fa fa-envelope-o pr-1 pl-10 text-default"></i>contato@mvisia.com.br</li>
                    <li class="list-inline-item"><i class="fa fa-phone pr-1 pl-10 text-default"></i>(+55) (11) 4302-5902</li>
                    <li class="list-inline-item"><i class="fa fa-whatsapp pr-1 pl-10 text-default"></i>(+55) (11) 98134-9727</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <header class="header fixed fixed-desktop clearfix">
          <div class="container">
            <div class="row">
              <div class="col-md-auto hidden-md-down pl-3">
                <div class="header-first clearfix">
                  <div id="logo" class="logo">
                    <a aria-label="Logo MVisia" href="index.html" target="_self"><img id="logo_img" src="images/logo-mvisia.svg" alt="Logo MVisia"></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 ml-lg-auto">
                <!-- header-second start -->
                <div class="header-second clearfix">
                <!-- main-navigation start -->
                <div class="main-navigation main-navigation--mega-menu  animated">
                  <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <div class="navbar-brand clearfix hidden-lg-up">
                      <!-- logo -->
                      <div id="logo-mobile" class="logo">
                        <a aria-label="Logo MVisia" href="index.html"><img id="logo-img-mobile" src="images/logo-mvisia.svg" alt="Logo Mvisia"></a>
                      </div>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                      <!-- main-menu -->
                      <ul class="navbar-nav ml-xl-auto">
                        <!-- about -->
                        <li class="nav-item">
                          <a class="section-btn nav-link" href="page-about.html" target="_self" aria-expanded="false">Sobre</a>
                        </li>
                        <!-- technologies -->
                        <li class="nav-item dropdown">
                          <a class="section-btn nav-link dropdown-toggle" data-toggle="dropdown" href="#">Tecnologias</a>
                          <ul class="dropdown-menu">
                            <li><a href="page-tech-visao-computacional.html">Visão Computacional</a></li>
                            <li><a href="page-tech-inteligencia-artificial.html">Inteligência Artificial</a></li>
                            <li><a href="page-tech-cameras-hiperespectrais.html">Câmeras Hiperespectrais</a></li>
                          </ul>
                        </li>
                        <!-- cases -->
                        <li class="nav-item dropdown">
                          <a class="section-btn nav-link dropdown-toggle" data-toggle="dropdown" href="#">Cases</a>
                          <ul class="dropdown-menu">
                            <li><a href="page-case-calibradora.html">Calibradora Eletrônica de Tomates</a></li>
                            <li><a href="page-case-seletora-mudas-eucalipto.html">Seletora Automática de Mudas de Eucalipto</a></li>
                            <li><a href="page-case-seletora-mudas-flores.html">Seletora Automática de Mudas de Flores</a></li>
                            <li><a href="page-case-sistema-qualificacao-uvas.html">Sistema Automático de Qualificação de Uvas</a></li>
                          </ul>
                        </li>
                        <!-- media -->
                        <li class="nav-item">
                          <a class="section-btn nav-link" href="page-media.html" target="_self" aria-haspopup="true" aria-expanded="false">Na mídia</a>
                        </li>
                        <!-- blog -->
                        <li class="nav-item">
                            <a href="http://blog.mvisia.com.br" target="_blank" rel="noopener" class="nav-link" aria-haspopup="true" aria-expanded="false">Blog</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
                </div>
                <!-- main-navigation end -->
                </div>
                <!-- header-second end -->
              </div>
            </div>
          </div>
        </header>
        <!-- header end -->
      </div>
      <!-- header-container end -->
      <!-- end copy header -->

<!-- start page -->

      <!-- banner start -->
      <!-- ================ -->
      <div class="banner dark-translucent-bg" style="background-image:url('images/page-media-banner.jpg'); background-position: 50% 27%;">
        <div class="container">
          <div class="row justify-content-lg-center">
            <div class="col-lg-8 text-center pv-20">
              <h2 class="title">Na Mídia</h2>
              <div class="separator"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- banner end -->

      <!-- main-container start -->
      <!-- ================ -->
      <section class="main-container">
        <div class="container">
          <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-12 section">
              <div class="row">
                <!-- Globo Rural -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <a target="_blank" rel="noopener" href="https://viewer.aemmobile.adobe.com/index.html#project/69eb211c-a1d3-4b60-a011-6bc2e481431f/view/edicao_380_junho_2017/article/globorural_-dj-de43b365-d42c-49f1-87e2-90d56ec4419d">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-1.jpg" alt="logo-globo-rural">
                        <div class="overlay-top">
                          <div class="text">
                            <h5 class="text-white title">Limpeza eficiente, sem água</h5>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" target="_blank" rel="noopener" href="https://viewer.aemmobile.adobe.com/index.html#project/69eb211c-a1d3-4b60-a011-6bc2e481431f/view/edicao_380_junho_2017/article/globorural_-dj-de43b365-d42c-49f1-87e2-90d56ec4419d">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- Época Negócios -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <a target="_blank" rel="noopener" href="http://epoca.globo.com/vida/experiencias-digitais/noticia/2016/01/campus-party-nova-juventude-e-o-fim-da-maior-festa-nerd-do-brasil.html">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                          <img src="images/media-2.jpg" alt="logo-epoca-negocios">
                        <div class="overlay-top">
                          <div class="text">
                            <h5 class="text-white title">Campus Party: a nova juventude e o "fim"...</h5>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" target="_blank" rel="noopener" href="http://epoca.globo.com/vida/experiencias-digitais/noticia/2016/01/campus-party-nova-juventude-e-o-fim-da-maior-festa-nerd-do-brasil.html">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- FAPESP -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <a target="_blank" rel="noopener" href="http://www.fapesp.br/11441">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-3.jpg" alt="logo-fapesp">
                        <div class="overlay-top">
                          <div class="text">
                            <h5 class="text-white title">Propostas são selecionadas em chamada para o setor...</h5>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" target="_blank" rel="noopener" href="http://www.fapesp.br/11441">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- Santander Universidades -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <a target="_blank" rel="noopener" href="https://www.santanderuniversidades.com.br/embaixadores/paginas/fernando-antonio-torres-velloso-da-silva-neto.aspx">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-4.jpg" alt="logo-santander-universidades">
                        <div class="overlay-top">
                          <div class="text">
                            <h5 class="text-white title">Fernando Antonio Torres Velloso da Silva Neto - USP</h5>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" target="_blank" rel="noopener" href="https://www.santanderuniversidades.com.br/embaixadores/paginas/fernando-antonio-torres-velloso-da-silva-neto.aspx">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- Revista FAPESP -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <a target="_blank" rel="noopener" href="http://pesquisaparainovacao.fapesp.br/mvisia_adapta_produto_para_conquistar_diferentes_mercados/49">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-3.jpg" alt="logo-fapesp">
                        <div class="overlay-top">
                          <div class="text">
                            <h5 class="text-white title">MVisia adapta produto para conquistar diferentes mercados</h5>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" target="_blank" rel="noopener" href="http://pesquisaparainovacao.fapesp.br/mvisia_adapta_produto_para_conquistar_diferentes_mercados/49">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- Poli USP -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <a target="_blank" rel="noopener" href="http://www.poli.usp.br/en/comunicacao/noticias/1819-alunos-da-poli-desenvolvem-tecnologia-inovadora-para-selecao-de-mudas-de-eucalipto.html">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-5.jpg" alt="logo-poli-usp">
                        <div class="overlay-top">
                          <div class="text">
                            <h5 class="text-white title">Alunos da Poli desenvolvem tecnologia...</h5>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" target="_blank" rel="noopener" href="http://www.poli.usp.br/en/comunicacao/noticias/1819-alunos-da-poli-desenvolvem-tecnologia-inovadora-para-selecao-de-mudas-de-eucalipto.html">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>              
                <!-- Instituto TIM -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <a target="_blank" rel="noopener" href="http://institutotim.org.br/2015/11/26/equipe-de-awc-conquista-premio/">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-6.jpg" alt="logo-instituto-tim">
                        <div class="overlay-top">
                          <div class="text">
                            <h5 class="text-white title">Equipe de AWC conquista prêmio</h5>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" target="_blank" rel="noopener" href="http://institutotim.org.br/2015/11/26/equipe-de-awc-conquista-premio/">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- Successful Farming -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <a target="_blank" rel="noopener" href="http://sfagro.uol.com.br/pt_technologies/maquina-inovadora-consegue-selecionar-mudas-saudaveis-de-eucalipto/">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-7.jpg" alt="logo-successful-farming">
                        <div class="overlay-top">
                          <div class="text">
                            <h5 class="text-white title">Máquina inovadora consegue selecionar...</h5>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" target="_blank" rel="noopener" href="http://sfagro.uol.com.br/pt_technologies/maquina-inovadora-consegue-selecionar-mudas-saudaveis-de-eucalipto/">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- Rádio Bandeirantes -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <a target="_blank" rel="noopener" href="http://marcelopascon.com.br/podcast/">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-8.jpg" alt="logo-radio-bandeirantes">
                        <div class="overlay-top">
                          <div class="text">
                            <h5 class="text-white title">MVisia na Rádio Bandeirantes</h5>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" target="_blank" rel="noopener" href="http://marcelopascon.com.br/podcast/">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- Tec Mundo -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <a target="_blank" rel="noopener" href="http://sfagro.uol.com.br/pt_technologies/maquina-inovadora-consegue-selecionar-mudas-saudaveis-de-eucalipto/">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-9.jpg" alt="logo-tecmundo">
                        <div class="overlay-top">
                          <div class="text">
                            <h5 class="text-white title">Feira de investimentos seleciona projetos de TCC para transformar em um negócio</h5>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" target="_blank" rel="noopener" href="http://sfagro.uol.com.br/pt_technologies/maquina-inovadora-consegue-selecionar-mudas-saudaveis-de-eucalipto/">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- InfoMoney (Startse) -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <a target="_blank" rel="noopener" href="http://startse.infomoney.com.br/portal/2016/01/12/16045/feira-de-investimentos-seleciona-projetos-de-tcc-para-transformar-em-um-negcio/">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-10.jpg" alt="logo-infomoney">
                        <div class="overlay-top">
                          <div class="text">
                            <h5 class="text-white title">Feira de investimentos seleciona projetos de TCC para transformar em um negócio</h5>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" target="_blank" rel="noopener" href="http://startse.infomoney.com.br/portal/2016/01/12/16045/feira-de-investimentos-seleciona-projetos-de-tcc-para-transformar-em-um-negcio/">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <!-- Portal DBO -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <a target="_blank" rel="noopener" href="http://www.portaldbo.com.br/Portal/Espaco-empresarial/MVisia/17801">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-11.jpg" alt="logo-portal-dbo">
                        <div class="overlay-top">
                          <div class="text">
                            <h5 class="text-white title">Tecnologia automatiza seleção de produtos agrícolas</h5>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" target="_blank" rel="noopener" href="http://www.portaldbo.com.br/Portal/Espaco-empresarial/MVisia/17801">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- Instituto tim - SP Conecta -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <a target="_blank" rel="noopener" href="https://institutotim.org.br/2016/08/30/awc-participa-do-evento-sp-conecta/">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-6.jpg" alt="logo-instituto-tim">
                        <div class="overlay-top">
                          <div class="text">
                            <h5 class="text-white title">AWC participa do evento SP Conecta</h5>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" target="_blank" rel="noopener" href="https://institutotim.org.br/2016/08/30/awc-participa-do-evento-sp-conecta/">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- Cenário Agro -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <a target="_blank" rel="noopener" href="http://cenarioagro.com.br/prototipo-de-seletora-de-mudas-de-cana-e-premiado/">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-12.jpg" alt="logo-cenario-agro">
                        <div class="overlay-top">
                          <div class="text">
                            <h5 class="text-white title">Protótipo de seletora de mudas de cana é premiado</h5>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" target="_blank" rel="noopener" href="http://cenarioagro.com.br/prototipo-de-seletora-de-mudas-de-cana-e-premiado/">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <!-- Jornal Globo -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <a target="_blank" rel="noopener" href="http://g1.globo.com/sp/sao-carlos-regiao/jornal-da-eptv-2edicao/videos/t/edicoes/v/embrapa-instrumentacao-desenvolve-maquina-que-tira-sujeira-de-frutas-e-legumes-sem-agua/5794091/">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-13.jpg" alt="logo-g1">
                        <div class="overlay-top">
                          <div class="text">
                            <h5 class="text-white title">Embrapa Instrumentação desenvolve máquina que tira sujeira de frutas e legumes...</h5>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" target="_blank" rel="noopener" href="http://g1.globo.com/sp/sao-carlos-regiao/jornal-da-eptv-2edicao/videos/t/edicoes/v/embrapa-instrumentacao-desenvolve-maquina-que-tira-sujeira-de-frutas-e-legumes-sem-agua/5794091/">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- Grupo Cultivar -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <a class="btn btn-transparent btn-animated" target="_blank" rel="noopener" href="http://www.grupocultivar.com.br/noticias/maquina-compacta-voltada-a-pequenos-produtores-limpa-tomate-sem-uso-de-agua">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-14.jpg" alt="logo-grupo-cultivar">
                        <div class="overlay-top">
                          <div class="text">
                            <h5 class="text-white title">Máquina compacta voltada a pequenos produtores limpa tomate sem uso de água</h5>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" target="_blank" rel="noopener" href="http://www.grupocultivar.com.br/noticias/maquina-compacta-voltada-a-pequenos-produtores-limpa-tomate-sem-uso-de-agua">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- TI Inside -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <a target="_blank" rel="noopener" href="http://convergecom.com.br/tiinside/webinside/17/05/2017/empresas-criam-1a-associacao-brasileira-de-inteligencia-artificial/">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-15.jpg" alt="logo-ti-inside">
                        <div class="overlay-top">
                          <div class="text">
                            <h5 class="text-white title">Empresas criam 1ª Associação Brasileira de Inteligência Artificial</h5>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" target="_blank" rel="noopener" href="http://convergecom.com.br/tiinside/webinside/17/05/2017/empresas-criam-1a-associacao-brasileira-de-inteligencia-artificial/">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- Instituto TIM - AWC -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <a target="_blank" rel="noopener" href="https://awc.institutotim.org.br/noticias/mvisia-investe-em-novos-mercados-e-novas-aplicacoes/">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-6.jpg" alt="logo-instituto-tim">
                        <div class="overlay-top">
                          <div class="text">
                            <h5 class="text-white title">MVisia investe em novos mercados e novas aplicações</h5>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" target="_blank" rel="noopener" href="https://awc.institutotim.org.br/noticias/mvisia-investe-em-novos-mercados-e-novas-aplicacoes/">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- Poli USP -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <a target="_blank" rel="noopener" href="http://www.poli.usp.br/pt/comunicacao/noticias/2362-politecnicos-criam-ferramenta-que-seleciona-mudas-ideais-de-cana-de-acucar.html?platform=hootsuite">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-5.jpg" alt="logo-poli-usp">
                        <div class="overlay-top">
                          <div class="text">
                            <h5 class="text-white title">Politécnicos criam ferramenta que seleciona mudas ideais de cana-de-açúcar</h5>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" target="_blank" rel="noopener" href="http://www.poli.usp.br/pt/comunicacao/noticias/2362-politecnicos-criam-ferramenta-que-seleciona-mudas-ideais-de-cana-de-acucar.html?platform=hootsuite">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- Jornal da USP -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <a target="_blank" rel="noopener" href="http://jornal.usp.br/ciencias/ciencias-agrarias/ferramenta-seleciona-mudas-ideais-de-cana-de-acucar/">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-16.jpg" alt="logo-jornal-da-usp">
                        <div class="overlay-top">
                          <div class="text">
                            <h5 class="text-white title">Ferramenta seleciona mudas ideais de cana-de-açúcar</h5>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" target="_blank" rel="noopener" href="http://jornal.usp.br/ciencias/ciencias-agrarias/ferramenta-seleciona-mudas-ideais-de-cana-de-acucar/">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- Instituto TIM - AWC -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <a target="_blank" rel="noopener" href="https://awc.institutotim.org.br/noticias/nova-solucao-da-mvisia-para-cana-de-acucar-conquista-premios/">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-6.jpg" alt="logo-instituto-tim">
                        <div class="overlay-top">
                          <div class="text">
                            <h5 class="text-white title">Nova solução da MVisia para cana-de-açúcar conquista prêmios</h5>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" target="_blank" rel="noopener" href="https://awc.institutotim.org.br/noticias/nova-solucao-da-mvisia-para-cana-de-acucar-conquista-premios/">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- Prêmio Odebrecht -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=oN6re9K57KQ&list=PL6EFtJLroeE-AHNu3cvhGFU__rTbtfYf3">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-17.jpg" alt="logo-premio-odebrecht">
                        <div class="overlay-top">
                          <div class="text">
                            <h5 class="text-white title">Seletora de Mudas de Cana-de-Açúcar vence Prêmio Odebrecht 2016</h5>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=oN6re9K57KQ&list=PL6EFtJLroeE-AHNu3cvhGFU__rTbtfYf3">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- Grupo IDEA -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=g3t4nzPRBIY&feature=youtu.be">
                    <div class="image-box shadow-2 text-center mb-20">
                      <div class="overlay-container">
                        <img src="images/media-18.jpg" alt="logo-grupo-idea">
                        <div class="overlay-top">
                          <div class="text">
                            <h5 class="text-white title">Fernando Lopes, da MVISIA, destaca inovações tecnológicas para o setor...</h5>
                          </div>
                        </div>
                        <div class="overlay-bottom pv-55">
                          <div class="links">
                            <a class="btn btn-transparent btn-animated" target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=g3t4nzPRBIY&feature=youtu.be">Veja<i class="fa fa-angle-double-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <!-- main end -->
          </div>
        </div>
      </section>
      <!-- main-container end -->

      <!-- footer start -->
      <footer id="footer" class="clearfix dark">
        <div class="footer">
          <div class="container">
            <div class="footer-inner">
              <div class="row justify-content-lg-center">
                <div class="col-lg-9">
                  <div class="footer-content text-center padding-ver-clear">
                    <div class="logo-footer"><img id="logo-footer" class="mx-auto" src="images/mvisia-white-logo.svg" alt="mvisia logo branco"></div>
                    <p>Máquinas de Visão e Inteligência Artificial</p>
                    <ul class="list-inline mb-20">
                      <li class="list-inline-item"><i class="text-default fa fa-map-marker pr-1"></i>Av. Queiroz Filho, 1700 - Torre E, Sala 512</li>
                      <li class="list-inline-item"><i class="text-default fa fa-phone pl-10 pr-1"></i>(+55) (11) 4302-5902</li>
                      <li class="list-inline-item"><i class="text-default fa fa-envelope-o pl-10 pr-1"></i>contato@mvisia.com.br</li>
                      <li class="list-inline-item"><i class="text-default fa fa-whatsapp pl-10 pr-1"></i>(+55) (11) 98134-9727</li>
                    </ul>
                    <ul class="social-links circle animated-effect-1 margin-clear">
                      <li class="linkedin"><a target="_blank" rel="noopener" href="https://www.linkedin.com/company/mvisia/"><i class="fa fa-linkedin"></i></a></li>
                      <li class="youtube"><a target="_blank" rel="noopener" href="https://www.youtube.com/user/MVisiaBrasil"><i class="fa fa-youtube-play"></i></a></li>
                      <li class="facebook"><a target="_blank" rel="noopener" href="https://www.facebook.com/MVisia/"><i class="fa fa-facebook"></i></a></li> 
                    </ul>
                    <div class="separator"></div>
                    <p class="text-center margin-clear">©2018 MVISIA. Todos os direitos reservados.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer end -->
    </div>
    <!-- page-wrapper end -->

    <!-- jquery and bootstap core js files -->
    <script type="text/javascript" src="plugins/jquery.min.js"></script>
    <script type="text/javascript" src="plugins/popper.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <!-- Modernizr javascript -->
    <script type="text/javascript" src="plugins/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <!-- jQuery Revolution Slider  -->
    <script type="text/javascript" src="plugins/rs-plugin-5/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
    <script type="text/javascript" src="plugins/rs-plugin-5/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
    <!-- Appear javascript -->
    <script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="plugins/waypoints/sticky.min.js"></script>
    <!-- Owl carousel javascript -->
    <script type="text/javascript" src="plugins/owlcarousel2/owl.carousel.min.js"></script>
    <!-- Pace javascript -->
    <script type="text/javascript" src="plugins/pace/pace.min.js"></script>
    <!-- Automatic Gallery -->
    <script type="text/javascript" src="plugins/slick.min.js"></script>
    <!-- Initialization of Plugins -->
    <!--<script type="text/javascript" src="js/template.js"></script>-->
    <script type="text/javascript" src="js/template.min.js"></script>
    <!-- Google Maps javascript -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=AIzaSyCU_UNfVTz6FYtyl7FYIV1h1LRUZStUzfk"></script>
    <!--<script type="text/javascript" src="js/google.map.config.js"></script>-->
    <script type="text/javascript" src="js/google.map.config.min.js"></script>

  </body>
</html>