<!DOCTYPE html>

<html dir="ltr" lang="pt-BR">

  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58966194-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
          
        gtag('config', 'UA-58966194-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>MVISIA - Máquinas de Visão e Inteligência Artificial</title>

    <meta itemprop="name" content="mvisia">
    <meta name="description" content="MVISIA - Máquinas de Visão e Inteligência Artificial">
    <meta itemprop="image" content="http://www.mvisia.com/.br/images/mvisia-logo.svg">
    <meta name="keywords" content="mvisia, máquinas de visão computacional, visão computacional agroindústria, máquinas agroindústria, inteligência artificla agroindústria">

    <meta property="og:locale" content="pt_BR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="mvisia" />
    <meta property="og:description" content="Máquinas de Visão e Inteligência Artificial" />
    <meta property="og:url" content="http://mvisia.com.br/" />
    <meta property="og:site_name" content="mvisia" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Máquinas de Visão e Inteligência Artificial" />
    <meta name="twitter:title" content="mvisia" />

    <link rel="canonical" href="http://mvisia.com.br/" />

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,300italic,400,400italic,500,500italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:500,400,300,200,100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Plugins -->
    <link href="plugins/rs-plugin-5/css/settings.css" rel="stylesheet">
    <link href="plugins/rs-plugin-5/css/navigation.css" rel="stylesheet">
    <!--<link href="css/animations.css" rel="stylesheet">-->
    <link href="plugins/owlcarousel2/assets/owl.carousel.min.css" rel="stylesheet">

    <!--<link href="css/style.css" rel="stylesheet" >-->

    <!--<link href="css/typography.css" rel="stylesheet" >-->

    <!-- Color Scheme -->
    <!--<link href="css/skins/green.css" rel="stylesheet">-->
  
    <!-- Custom css --> 
    <!--<link href="css/custom.css" rel="stylesheet">-->

    <!-- min css -->
    <link href="plugins/rs-plugin-5/css/settings.css" rel="stylesheet">
    <link href="css/animations.min.css" rel="stylesheet"> <!-- ok -->
    <link href="css/style.min.css" rel="stylesheet" > <!-- ok -->
    <link href="css/typography.min.css" rel="stylesheet" > <!-- ok -->
    <link href="css/skins/green.min.css" rel="stylesheet"> <!-- ok -->
    <link href="css/custom.min.css" rel="stylesheet"> <!-- ok -->

       
  </head>

  <body class="page-loader-1">

    <!-- scrollToTop -->
    <div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>

    <!-- page wrapper start -->
    <div class="page-wrapper">
      <!-- header-container start -->
      <div class="header-container">
        <div class="header-top dark">
          <div class="container">
            <div class="row">
              <div class="col-1 col-md-3">
                <!-- header-top-first start -->
                <div class="header-top-first clearfix">
                  <ul class="social-links circle small clearfix hidden-sm-down">
                    <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/company/mvisia/"><i class="fa fa-linkedin"></i></a></li>
                    <li class="youtube"><a target="_blank" href="https://www.youtube.com/user/MVisiaBrasil"><i class="fa fa-youtube-play"></i></a></li>
                    <li class="facebook"><a target="_blank" href="https://www.facebook.com/MVisia/"><i class="fa fa-facebook"></i></a></li>
                  </ul>
                  <div class="social-links hidden-md-up circle small">
                    <div class="btn-group dropdown">
                      <button id="header-top-drop-1" type="button" class="btn dropdown-toggle--no-caret" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-alt"></i></button>
                      <ul class="dropdown-menu dropdown-animation" aria-labelledby="header-top-drop-1">
                        <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/company/mvisia/"><i class="fa fa-linkedin"></i></a></li>
                        <li class="youtube"><a target="_blank" href="https://www.youtube.com/user/MVisiaBrasil"><i class="fa fa-youtube-play"></i></a></li>
                        <li class="facebook"><a target="_blank" href="https://www.facebook.com/MVisia/"><i class="fa fa-facebook"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- header-top-first end -->
              </div>
              <div class="col-11 col-md-9 hidden-sm-down">

                <!-- header-top-second start -->
                <!-- ================ -->
                <div id="header-top-second"  class="clearfix text-right">
                  <ul class="list-inline">
                    <li class="list-inline-item hidden-md-down">Realizamos projetos sob medida para o seu negócio.</li>
                    <li class="list-inline-item"><i class="fa fa-envelope-o pr-1 pl-10 text-default"></i>contato@mvisia.com.br</li>
                    <li class="list-inline-item"><i class="fa fa-phone pr-1 pl-10 text-default"></i>(+55) (11) 4302-5902</li>
                    <li class="list-inline-item"><i class="fa fa-whatsapp pr-1 pl-10 text-default"></i>(+55) (11) 98134-9727</li>
                  </ul>
                </div>
                <!-- header-top-second end -->

              </div>
            </div>
          </div>
        </div>
        <!-- header-top end -->

        <!-- header start -->
        <!-- ================ -->
        <header class="header fixed fixed-desktop clearfix">
          <div class="container">
            <div class="row">
              <div class="col-md-auto hidden-md-down pl-3">
                <!-- header-first start -->
                <!-- ================ -->
                <div class="header-first clearfix">
                  <!-- logo -->
                  <div id="logo" class="logo">
                    <a href="index.html" target="_self"><img id="logo_img" src="images/logo-mvisia.svg" alt="Logo MVisia"></a>
                  </div>
                </div>
                <!-- header-first end -->
              </div>
              <div class="col-lg-8 ml-lg-auto">
                <!-- header-second start -->
                <div class="header-second clearfix">
                <!-- main-navigation start -->
                <div class="main-navigation main-navigation--mega-menu  animated">
                  <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <div class="navbar-brand clearfix hidden-lg-up">
                      <!-- logo -->
                      <div id="logo-mobile" class="logo">
                        <a href="index.html"><img id="logo-img-mobile" src="images/logo-mvisia.svg" alt="Logo Mvisia"></a>
                      </div>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                      <!-- main-menu -->
                      <ul class="navbar-nav ml-xl-auto">
                        <!-- about -->
                        <li class="nav-item">
                          <a class="section-btn nav-link" href="page-about.html" target="_self" aria-expanded="false">Sobre</a>
                        </li>
                        <!-- technologies -->
                        <li class="nav-item dropdown">
                          <a class="section-btn nav-link dropdown-toggle" data-toggle="dropdown" href="#">Tecnologias</a>
                          <ul class="dropdown-menu">
                            <li><a href="page-tech-visao-computacional.html">Visão Computacional</a></li>
                            <li><a href="page-tech-inteligencia-artificial.html">Inteligência Artificial</a></li>
                            <li><a href="page-tech-cameras-hiperespectrais.html">Câmeras Hiperespectrais</a></li>
                          </ul>
                        </li>
                        <!-- cases -->
                        <li class="nav-item dropdown">
                          <a class="section-btn nav-link dropdown-toggle" data-toggle="dropdown" href="#">Cases</a>
                          <ul class="dropdown-menu">
                            <li><a href="page-case-calibradora.html">Calibradora Eletrônica de Tomates</a></li>
                            <li><a href="page-case-seletora-mudas-eucalipto.html">Seletora Automática de Mudas de Eucalipto</a></li>
                            <li><a href="page-case-seletora-mudas-flores.html">Seletora Automática de Mudas de Flores</a></li>
                            <li><a href="page-case-sistema-qualificacao-uvas.html">Sistema Automático de Qualificação de Uvas</a></li>
                          </ul>
                        </li>
                        <!-- media -->
                        <li class="nav-item">
                          <a class="section-btn nav-link" href="page-media.html" target="_self" aria-haspopup="true" aria-expanded="false">Na mídia</a>
                        </li>
                        <!-- blog -->
                        <li class="nav-item">
                            <a href="http://blog.mvisia.com.br" target="_blank" class="nav-link" aria-haspopup="true" aria-expanded="false">Blog</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
                </div>
                <!-- main-navigation end -->
                </div>
                <!-- header-second end -->
              </div>
            </div>
          </div>
        </header>
        <!-- header end -->
      </div>
      <!-- header-container end -->
      <!-- end copy header -->

<!-- start page -->

      <!-- banner start -->
      <!-- ================ -->
      <div class="banner dark-translucent-bg" style="background-image:url('images/page-about-banner.jpg'); background-position: 50% 27%;">
        <div class="container">
          <div class="row justify-content-lg-center">
            <div class="col-lg-8 text-center pv-20">
              <h2 class="title">Sobre a MVisia</h2>
              <div class="separator"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- banner end -->

      <!-- main-container start -->
      <!-- ================ -->
      <section class="main-container padding-bottom-clear">
        
        <!-- section start -->
        <div class="section">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 text-justify">
                <p>O princípio de nossas soluções é um <strong>sistema de visão</strong> que captura imagens de cada unidade e as envia para um software fazer a análise, levando em consideração os parâmetros importantes para a seleção de cada produto. Desenvolvemos também a <strong>estrutura mecatrônica</strong> capaz de operacionalizar o processo com produtividade necessária para o cliente.</p>
                <p>A empresa existe desde 2012, quando foi incubada no CIETEC-USP, e já desenvolveu soluções para os setores de <strong>hortifruti, flores e mudas florestais</strong>. Tivemos dois dos nossos projetos financiados pela FAPESP e também mantemos estreitas relações com o ecossistema de inovação, com diversos prêmios ganhos, como o <strong>Prêmio Santander de Empreendedorismo</strong> e o <strong>Prêmio Odebrecht Sustentabilidade</strong>.</p> 
              </div>
              <div class="col-lg-6">
                <div class="special-container">
                  <div class="owl-carousel content-slider-with-controls">
                    <div class="overlay-container-2 overlay-visible rounded">
                      <img class="rounded" src="images/page-about-1.jpg" alt="Image page about slider 1">
                    </div>
                    <div class="overlay-container-2 overlay-visible rounded">
                      <img class="rounded" src="images/page-about-2.jpg" alt="Image page about slider 2">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- section end -->

        <!-- section start -->
        <div class="dark-bg section mt-60">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 text-center">
                <h4 class="text-white mt-30 mb-30">Temos experiência nas seguintes abordagens tecnológicas:</h4>
              </div>
            </div>
            <!-- machine learning -->
            <div class="row mt-20">
              <div class="col-md-6 mb-30">
                <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                  <span class="icon default-bg small circle"><img class="icon-circle-custom" src="images/technology-2.svg"></span>
                  <div class="body">
                    <h4 class="title">Machine Learning</h4>
                    <ul class="expertises">
                      <li><i class="fa fa-angle-right icon-angle-green"></i>Supervised Machine Learning (SVMs, Cross Validation);</li>
                      <li><i class="fa fa-angle-right icon-angle-green"></i>Unsupervised Machine Learning (K-Means, DBSCAN, PCA);</li>
                      <li><i class="fa fa-angle-right icon-angle-green"></i>Deep Learning (CNNs, LSTMs);</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- computer vision -->
              <div class="col-md-6 mb-30">
                <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                  <span class="icon default-bg small circle"><img class="icon-circle-custom" src="images/technology-1.svg"></span>
                  <div class="body">
                    <h4 class="title">Computer Vision</h4>
                    <ul class="expertises">
                      <li><i class="fa fa-angle-right icon-angle-green"></i>Image Processing, Image Filtering, Image Segmentation;</li>
                      <li><i class="fa fa-angle-right icon-angle-green"></i>Image Feature Detection, Image Classification;</li>
                      <li><i class="fa fa-angle-right icon-angle-green"></i>Camera Control Algorithms (AWB, AEC, AF);</li>
                      <li><i class="fa fa-angle-right icon-angle-green"></i>3D Stereo Camera Calibration and Reconstruction;</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- section end -->

      <!-- section prizes start -->
      <div class="section mt-60 mb-30">
        <div class="container">
          <div class="row">
            <div class="main col-md-12">
            <h3 class="title-subsection">Prêmios e Investimentos</h3>
            <div class="separator-2 mb-60"></div>
              <div class="row grid-space-30">
                <div class="col-md-4 mb-30">
                  <div class="pv-30 ph-30 feature-box bordered shadow text-center object-non-visible mb-20 h-100" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <img class="logo-prize mlr-auto mb-60 mt-10" src="images/prize-1.jpg"></span>
                    <h4 class="card-title">Academic Working Capital (Instituto TIM)</h4>
                    <div class="separator clearfix"></div>
                    <p>Financiamento para o protótipo da Seletora de Mudas de Eucalipto.</p>
                  </div>
                </div>
                <div class="col-md-4 mb-30">
                  <div class="pv-30 ph-30 feature-box bordered shadow text-center object-non-visible mb-20 h-100" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <img class="logo-prize mlr-auto mb-60 mt-10" src="images/prize-2.jpg"></span>
                    <h4 class="card-title">Prêmio Santander de Empreendedorismo 2015</h4>
                    <div class="separator clearfix"></div>
                    <p>Projeto Seletora de mudas de eucalipto. Vencedor entre mais de 24.000 inscritos.</p>
                  </div>
                </div>
                <div class="col-md-4 mb-30">
                  <div class="pv-30 ph-30 feature-box bordered shadow text-center object-non-visible mb-20 h-100" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <img class="logo-prize mlr-auto mb-60 mt-10" src="images/prize-3.jpg"></span>
                    <h4 class="card-title">FAPESP - Pipe Fase 2</h4>
                    <div class="separator clearfix"></div>
                    <p>Projeto Seletora de mudas florestais. Aporte a fundo perdido.</p>
                  </div>
                </div>
                <div class="col-md-4 mb-30">
                  <div class="pv-30 ph-30 feature-box bordered shadow text-center object-non-visible mb-20 h-100" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <img class="logo-prize mlr-auto mb-60 mt-10" src="images/prize-4.jpg"></span>
                    <h4 class="card-title">Prêmio Odebrecht 2016</h4>
                    <div class="separator clearfix"></div>
                    <p>Seletora de Mudas de Cana-de-açúcar. Vencedor entre mais de 250 projetos.</p>
                  </div>
                </div>
                <div class="col-md-4 mb-30">
                  <div class="pv-30 ph-30 feature-box bordered shadow text-center object-non-visible mb-20 h-100" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <img class="logo-prize mlr-auto mb-60 mt-10" src="images/prize-5.jpg"></span>
                    <h4 class="card-title">Prêmio Inovacana 2017</h4>
                    <div class="separator clearfix"></div>
                    <p>Soluções para o mercado sucroalcooleiro.</p>
                  </div>
                </div>
                <div class="col-md-4 mb-30">
                  <div class="pv-30 ph-30 feature-box bordered shadow text-center object-non-visible mb-20 h-100" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <img class="logo-prize mlr-auto mb-60 mt-10" src="images/prize-6.jpg"></span>
                    <h4 class="card-title">FAPESP e FINEP - Pipe Fase 3</h4>
                    <div class="separator clearfix"></div>
                    <p>Projeto Máquina baseada em visão computacional para seleção de MPB de cana-de-açúcar.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- section prizes end -->

      <!-- section team start -->
      <div class="light-gray-bg pv-70 section">
        <div class="container">
          <h3 class="title-subsection">Nosso Time</h3>
            <div class="separator-2 mb-60"></div>
            <div class="row grid-space-30">
              <!-- Lopes -->
              <div class="col-md-6 col-lg-3 mb-20">
                <div class="image-box team-member style-2 shadow-2 bordered mb-20 text-center">
                  <div class="overlay-container top-bordered">
                    <img src="images/team-member-1.jpg" alt="Fernando Lopes">
                    <div class="overlay-bottom-2">
                      <ul class="small">
                        <li class="mt-10 text-left"><i class="fa fa-check"></i> Projeto de sistema de transmissão equipe Poli Racing de Fórmula SAE</li>
                        <li class="mt-small text-left"><i class="fa fa-check"></i> Liga de mercado financeiro Poli USP</li>
                        <li class="mt-small text-left"><i class="fa fa-check"></i> Estágio HSBC Asset Management Group</li>
                        <li class="mt-small text-left"><i class="fa fa-check"></i> Finalista Campeonato de Algoritmos para Mercado Financeiro</li>
                        <li class="mt-small text-left"><i class="fa fa-check"></i> Curso Creativity, Innovation & New Businesses (Vicenza, Itália)</li>
                      </ul>
                    </div>
                  </div>
                  <div class="body">
                    <h4 class="card-title margin-clear">Fernando Lopes</h4>
                    <h6>Engenharia Mecatrônica @POLI-USP</h6>
                    <h5 class="mt-20">Financeiro e Operacional Interno</h5>
                    <div class="separator mt-10 separator-custom"></div>
                    <ul class="social-links circle colored margin-clear">
                      <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/in/fernando-paes-lopes-97a375126/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Velloso -->
              <div class="col-md-6 col-lg-3 mb-20">
                <div class="image-box team-member style-2 shadow-2 bordered mb-20 text-center">
                  <div class="overlay-container top-bordered">
                    <img src="images/team-member-2.jpg" alt="Fernando Velloso">
                    <div class="overlay-bottom-2">
                      <ul class="small">
                        <li class="mt-10 text-left"><i class="fa fa-check"></i> Atuação na área de vendas na Aiesec-USP</li>
                        <li class="mt-small text-left"><i class="fa fa-check"></i> Intercâmbio na Technische Universität Dresden (TUD), na área de automação</li>
                        <li class="mt-small text-left"><i class="fa fa-check"></i> Estágio no departamento de sistemas terrestres (Airbus-Alemanha)</li>
                        <li class="mt-small text-left"><i class="fa fa-check"></i> Babson Build Summer Program (Boston, EUA)</li>
                      </ul>
                    </div>
                  </div>
                  <div class="body">
                    <h4 class="card-title margin-clear">Fernando Velloso</h4>
                    <h6>Engenharia Mecatrônica @POLI-USP</h6>
                    <h5 class="mt-20">Comercial e Relações Externas</h5>
                    <div class="separator mt-10 separator-custom"></div>
                    <ul class="social-links circle colored margin-clear">
                      <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/in/fernando-velloso-672934102/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              
              <!-- Henrique -->
              <div class="col-md-6 col-lg-3 mb-20">
                <div class="image-box team-member style-2 shadow-2 bordered mb-20 text-center">
                  <div class="overlay-container top-bordered">
                    <img src="images/team-member-3.jpg" alt="Henrique Oliveira">
                    <div class="overlay-bottom-2">
                      <ul class="small">
                        <li class="mt-10 text-left"><i class="fa fa-check"></i> Colaboração em projeto de máquina secadora de café de baixo custo</li>
                        <li class="mt-small text-left"><i class="fa fa-check"></i> Implementação do Modelo Hershell-Bulkley no Software Freeflow 2D (iniciação científica)</li>
                        <li class="mt-small text-left"><i class="fa fa-check"></i> Manutenção e ensaios de jateadora de granalhas de aço a ar comprimido no (Lab. CENO-USP)</li>
                      </ul>
                    </div>
                  </div>
                  <div class="body">
                    <h4 class="card-title margin-clear">Henrique Oliveira</h4>
                    <h6>Engenharia Mecânica @POLI-USP</h6>
                    <h5 class="mt-20">Execução e Gestão de Projetos</h5>
                    <div class="separator mt-10 separator-custom"></div>
                    <ul class="social-links circle colored margin-clear">
                      <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/in/henrique-oliveira-martins-815a31130/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Felipe Hernandez -->
              <div class="col-md-6 col-lg-3 mb-20">
                <div class="image-box team-member style-2 shadow-2 bordered mb-20 text-center">
                  <div class="overlay-container top-bordered">
                    <img src="images/team-member-4.jpg" alt="Felipe Hernandez">
                    <div class="overlay-bottom-2">
                      <ul class="small">
                        <li class="mt-10 text-left"><i class="fa fa-check"></i> Algoritmos de Machine Learning (Accenture)</li>
                        <li class="mt-small text-left"><i class="fa fa-check"></i> Pesquisador da FAPESP na área de desenvolvimento de softwares</li>
                        <li class="mt-small text-left"><i class="fa fa-check"></i> Pesquisador no centro de pesquisas avançadas em grafeno e nanomateriais (Universidade Presbiteriana Mackenzie)</li>
                        <li class="mt-10 text-left"><i class="fa fa-check"></i> Bolsista do CNPq como projetista eletrônico e desenvolvedor em C, nas áreas de óptica e fotônica</li>
                      </ul>
                    </div>
                  </div>
                  <div class="body">
                    <h4 class="card-title margin-clear">Felipe Hernandez</h4>
                    <h6>Ms. Ciências e Eng. Mecânica @EESC-USP</h6>
                    <h5 class="mt-20">Sistemas de Visão Computacional</h5>
                    <div class="separator mt-10 separator-custom"></div>
                    <ul class="social-links circle colored margin-clear">
                      <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/in/felipe-bueno-hernandez-b4721348/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Cassiano Casagrande -->
              <div class="col-md-6 col-lg-3 mb-20">
                <div class="image-box team-member style-2 shadow-2 bordered mb-20 text-center">
                  <div class="overlay-container top-bordered">
                    <img src="images/team-member-5.jpg" alt="Henrique Oliveira">
                    <div class="overlay-bottom-2">
                      <ul class="small">
                        <li class="mt-10 text-left"><i class="fa fa-check"></i> Desenvolvimento e gerenciamento de softwares de I.A. e visão computacional</li>
                        <li class="mt-small text-left"><i class="fa fa-check"></i> Desenvolvimento de algoritmos para câmeras digitais (Motorola e Instituto de Pesquisas Eldorado)</li>
                        <li class="mt-small text-left"><i class="fa fa-check"></i> Pesquisador na Swansea University (UK) pelo CNPq na área de programação de GPUs</li>
                      </ul>
                    </div>
                  </div>
                  <div class="body">
                    <h4 class="card-title margin-clear">Cassiano Casagrande</h4>
                    <h6>Ciências da Computação @ICMC-USP</h6>
                    <h5 class="mt-20">Desenv. de Softwares de I.A.</h5>
                    <div class="separator mt-10 separator-custom"></div>
                    <ul class="social-links circle colored margin-clear">
                      <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/in/cassiano-kleinert-casagrande-094196a8/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Lucas Julio -->
              <div class="col-md-6 col-lg-3 mb-20">
                <div class="image-box team-member style-2 shadow-2 bordered mb-20 text-center">
                  <div class="overlay-container top-bordered">
                    <img src="images/team-member-6.jpg" alt="Henrique Oliveira">
                    <div class="overlay-bottom-2">
                      <ul class="small">
                        <li class="mt-10 text-left"><i class="fa fa-check"></i> Graduando em engenharia elétrica com ênfase em sistemas eletrônicos pela POLI-USP</li>
                        <li class="mt-small text-left"><i class="fa fa-check"></i> Desenvolvimento de algoritmos de machine learning e deep learning</li>
                        <li class="mt-small text-left"><i class="fa fa-check"></i> Grupo de extensão universitária com foco em pesquisa e aplicações de I.A</li>
                      </ul>
                    </div>
                  </div>
                  <div class="body">
                    <h4 class="card-title margin-clear">Lucas Julio</h4>
                    <h6>Engenharia Elétrica @POLI-USP</h6>
                    <h5 class="mt-20">Algoritmos de Machine Learning</h5>
                    <div class="separator mt-10 separator-custom"></div>
                    <ul class="social-links circle colored margin-clear">
                      <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/in/lucas-ribeiro-ferreira-julio-b65709149/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Álefe Rocha -->
              <div class="col-md-6 col-lg-3 mb-20">
                <div class="image-box team-member style-2 shadow-2 bordered mb-20 text-center">
                  <div class="overlay-container top-bordered">
                    <img src="images/team-member-7.jpg" alt="Henrique Oliveira">
                    <div class="overlay-bottom-2">
                      <ul class="small">
                        <li class="mt-10 text-left"><i class="fa fa-check"></i> Graduando em Mecatrônica no SENAI</li>
                        <li class="mt-small text-left"><i class="fa fa-check"></i> Vasto conhecimentos em T.I. e projetos mecânicos</li>
                        <li class="mt-small text-left"><i class="fa fa-check"></i> Atuou por 10 anos no setor industrial como ferramenteiro</li>
                        <li class="mt-10 text-left"><i class="fa fa-check"></i> Experiência com montagem e manutenção de hardwares</li>
                      </ul>
                    </div>
                  </div>
                  <div class="body">
                    <h4 class="card-title margin-clear">Álefe Rocha</h4>
                    <h6>Mecatrônica @SENAI</h6>
                    <h5 class="mt-20">Projetos Mecatrônicos</h5>
                    <div class="separator mt-10 separator-custom"></div>
                    <ul class="social-links circle colored margin-clear">
                      <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/in/aleferocha/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              
            </div>         
          </div>
        </section>
      <!-- section team start -->

   <!-- footer start -->
   <footer id="footer" class="clearfix dark">
    <div class="footer">
      <div class="container">
        <div class="footer-inner">
          <div class="row justify-content-lg-center">
            <div class="col-lg-9">
              <div class="footer-content text-center padding-ver-clear">
                <div class="logo-footer"><img id="logo-footer" class="mx-auto" src="images/mvisia-white-logo.svg" alt=""></div>
                <p>Máquinas de Visão e Inteligência Artificial</p>
                <ul class="list-inline mb-20">
                  <li class="list-inline-item"><i class="text-default fa fa-map-marker pr-1"></i>Av. Queiroz Filho, 1700 - Torre E, Sala 512</li>
                  <li class="list-inline-item"><i class="text-default fa fa-phone pl-10 pr-1"></i>(+55) (11) 4302-5902</li>
                  <li class="list-inline-item"><i class="text-default fa fa-envelope-o pl-10 pr-1"></i>contato@mvisia.com.br</li>
                  <li class="list-inline-item"><i class="text-default fa fa-whatsapp pl-10 pr-1"></i>(+55) (11) 98134-9727</li>
                </ul>
                <ul class="social-links circle animated-effect-1 margin-clear">
                  <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/company/mvisia/"><i class="fa fa-linkedin"></i></a></li>
                  <li class="youtube"><a target="_blank" href="https://www.youtube.com/user/MVisiaBrasil"><i class="fa fa-youtube-play"></i></a></li>
                  <li class="facebook"><a target="_blank" href="https://www.facebook.com/MVisia/"><i class="fa fa-facebook"></i></a></li> 
                </ul>
                <div class="separator"></div>
                <p class="text-center margin-clear">©2018 MVISIA. Todos os direitos reservados.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer end -->
</div>
<!-- page-wrapper end -->

<!-- jquery and bootstap core js files -->
<script type="text/javascript" src="plugins/jquery.min.js"></script>
<script type="text/javascript" src="plugins/popper.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<!-- Modernizr javascript -->
<script type="text/javascript" src="plugins/modernizr.js"></script>
<!-- jQuery Revolution Slider  -->
<script type="text/javascript" src="plugins/rs-plugin-5/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
<script type="text/javascript" src="plugins/rs-plugin-5/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
<!-- Appear javascript -->
<script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="plugins/waypoints/sticky.min.js"></script>
<!-- Owl carousel javascript -->
<script type="text/javascript" src="plugins/owlcarousel2/owl.carousel.min.js"></script>
<!-- Pace javascript -->
<script type="text/javascript" src="plugins/pace/pace.min.js"></script>
<!-- Automatic Gallery -->
<script type="text/javascript" src="plugins/slick.min.js"></script>
<!-- Initialization of Plugins -->
<!--<script type="text/javascript" src="js/template.js"></script>-->
<script type="text/javascript" src="js/template.min.js"></script>
<!-- Google Maps javascript -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=AIzaSyCU_UNfVTz6FYtyl7FYIV1h1LRUZStUzfk"></script>
<script type="text/javascript" src="js/google.map.config.js"></script>

</body>
</html>