/* Contact Icons
-------------------------------------------------
-------------------------------------------------*/
.text-default {
  color: #F8D27E;
}

/* Layout
-------------------------------------------------
-------------------------------------------------*/
.header-top.dark {
  background-color: #303631;
  border-bottom: 1px solid #242824;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 992px) {
  .fixed-header-on .dark.header .dropdown-menu {
    border: 1px solid #303631;
  }
}

/* Components
-------------------------------------------------
-------------------------------------------------*/
/*Icons
---------------------------------- */
.icon.default-bg {
  background-color: transparent;
}

/*Pace (Page loader)
---------------------------------- */
.page-loader-1 .pace {
  border: 1px solid #24a828;
}

.page-loader-1 .pace .pace-progress {
  background: #24a828;
}

/* 6 Navigations
-------------------------------------------------
-------------------------------------------------*/
/* 6.1 Light Version
----------------------------------------------------------------------------- */
.header .navbar-nav li .nav-link:focus,
.header .navbar-nav li .nav-link:hover,
.header .navbar-nav .show > .nav-link,
.header .navbar-nav li .nav-link.show,
.header .navbar-nav .active.show > .nav-link,
.header .navbar-nav li.show .nav-link.active {
  color: #24a828;
}

.header .navbar-nav .active > .nav-link,
.header .navbar-nav li .nav-link.active {
  color: #24a828;
}

.header .navbar-nav li li a:focus,
.header .navbar-nav li li a:hover,
.header .navbar-nav li .show > a,
.header .navbar-nav li li a.show,
.header .navbar-nav li .active > a,
.header .navbar-nav li li a.active {
  color: #1f9123;
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width: 991px) {
  .header .navbar-nav .active .nav-link,
  .header .navbar-nav .active .nav-link:hover,
  .header .navbar-nav .active .nav-link:focus {
    color: #1f9123;
  }
  /* first level item hover and focus states */
  .header .navbar-nav li > a:hover,
  .header .navbar-nav li > a:focus,
  .header .navbar-nav .active > a,
  .header .navbar-nav .active > a:hover,
  .header .navbar-nav .active > a:focus {
    color: #1f9123;
  }
  /* second level item on hover/focus */
  .header .navbar-nav .show .dropdown-menu > li > a:hover,
  .header .navbar-nav .show .dropdown-menu > li > a:focus {
    color: #1f9123;
  }
}

/* Main Slideshow
-------------------------------------------------
-------------------------------------------------*/
.tp-bannertimer {
  background-color: rgba(36, 168, 40, 0.8);
}